body {
  background-color: #f9f9f9;
  color: #010101;
}

.not-found {
  text-align: left;
  margin-left: 20px;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
.logo {
  margin: 0 !important;
  margin-left: 0.5em !important;
}

/* Carusel */
.carusel {
  display: block;
  justify-content: center;
  position: relative;
}
.carusel img {
  width: 100% !important;
}
.carusel button {
  text-align: center !important;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.8 !important;
  border-radius: 0;
  position: absolute;
}
.carusel__left {
  left: 0;
}

.carusel__right {
  right: 0;
}
/* layout */
.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
